.wrapper{
    width: 100%;
    height: 75vh;
}
.js{
    width: 35px;
    height: 35px;
    border-radius: 20%;
}
#kirish{
    width: 120px;
    height: 40px;
    background-color: rgb(201, 201, 201);
 
}

